 body {
    background-color: #1d020a;
    color: #dfdfd0;
 }
 h1 {
	color: #83bac9;
}
h2 {
    color: #83bac9;
}
p {
    color: #dfdfd0;
}
a {
    color: #dfdfd0;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
}

.about-container p{
    max-width: 350px;
    text-align: left;
}
