 @font-face {
    font-family: 'fastelar';
    src: url('fonts/fastelar.ttf') format('truetype');
} 
@font-face {
    font-family: 'champignon';
    src: url('fonts/champignon.ttf') format('truetype');
}
 body {
    background-color: #1d020a;
    color: #dfdfd0;
 }
 h1 {
	color: #83bac9;
    font-size: 36px;
    font-family: 'fastelar', sans-serif;
}
h2 {
    color: #83bac9;
    font-family: 'champignon', cursive;
}
p {
    color: #dfdfd0;
}
a {
    color: #dfdfd0;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
}

.about-container p{
    max-width: 350px;
    text-align: left;
    font-size: 1.125rem; 
    line-height: 1.6;
}